.big-text{
    font-family: 'Anton', sans-serif;
    font-size: 12.5vw;
    line-height:100%;
    text-align: center;
    font-stretch: extra-condensed;
}

.quote-section{
    align-items: center;
}

.strokeme {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

@media screen and (min-width: 600px) {
    .big-text{
        font-size: 7.5vw;
    }
}
