.section-padding{
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 5vw;
    padding-right: 5vw;
}

.about-me-picture{
    max-width: 100%;
    max-height: 35vh;
    text-align: right;
    border: 2px;
}

.profile-image-container{
    text-align:center;
}



@media screen and (min-width: 460px) {
    .profile-image-container{
        text-align:right;
    }
}