.standard-text {
	font-family: "Poppins", sans-serif;
	font-size: 12px;
}

@media screen and (min-width: 460px) {
	.standard-text {
		font-size: 15px;
	}
}

@media screen and (min-width: 800px) {
	.standard-text {
		font-size: 18px;
	}
}
